<button  (click)="crearUsuario()" mat-raised-button color="accent" type="button"> <mat-icon>add</mat-icon> Crear usuario</button>

<hr>

<table mat-table   [dataSource]="usuario" (deleteUsuario)="eliminarUsuario($event)"  class="mat-elevation-z8" >

   
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="comision">
        <th mat-header-cell *matHeaderCellDef> comision</th>
        <td mat-cell *matCellDef="let element"> {{element.comision}} </td>
    </ng-container>
    <ng-container matColumnDef="editarEliminar">
        <th mat-header-cell *matHeaderCellDef> editar/eliminar</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="deleteUsuario.emit(element)" mat-icon-button > <mat-icon> delete </mat-icon></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  