



 <mat-toolbar>
    <button  mat-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <mat-nav-list>
          <a routerLink="usuarios" mat-list-item>usuarios</a>
          <a routerLink="cursos" mat-list-item>cursos</a>
          <a routerLink="home" mat-list-item>home</a>
          <a routerLink="/autenticacion/iniciar-sesion" mat-list-item>Cerrar sesion</a>
        </mat-nav-list>
      </mat-menu>
    </button>
    
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


<router-outlet></router-outlet>
    




  